{
    "public": {
        "warcraftlogsUrl": "URL",
        "guildName": "YOUR_GUILDE_NAME"
    }
    "warcraftlogs": {
        "guildName": "YOUR_GUILD",
        "key": "YOUR_APP_ID",
        "apiPath": "API_BASE_PATH",
        "region": "YOUR_REGION",
        "server": "YOUR_SERVER"
    }
}
